h1 {
  text-align: center;
}
.bla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
}

img {
  max-width: 50%;
  height: auto;
}
.img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  
  .img {
    background-color: red;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 
}

/* * {
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.container__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  width: 25vw;
  background: darkgray;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__leftside-item {
  width: 100%;
  max-width: 200px;
  height: 130px;
  margin: 5px;
  background: chartreuse;
}

.container__rightside {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: cyan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__rightside-item {
  width: 100%;
  max-width: 200px;
  height: 123px;
  margin: 10px;
  background: darkgreen;
}

.container__rightside-item--blue {
  background: blue;
}

@media screen and (max-width: 950px) {
  .container__rightside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container__leftside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__leftside-item {
    width: 150px;
    height: 50px;
  }
  .container__rightside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .container__rightside-item {
    width: 130px;
    height: 100px;
  }
  .container__rightside-item--blue {
    height: 100px;
  }
}
# sourceMappingURL=style.css.map */
